<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wa.tanpa.simpan.nomor">

    <!-- Izin akses internet dan jaringan -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="${applicationName}"
        android:label="WA Tanpa Simpan Nomor"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6721734106426198~3324930044" />

        <!-- Aktivitas utama Flutter -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
