<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wa.tanpa.simpan.nomor">

    <!-- Izin akses internet dan jaringan -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Filter intent untuk akses WhatsApp atau URL -->
    <queries>
        <!-- Untuk mengakses WhatsApp -->
        <package android:name="com.whatsapp" />
        <!-- Untuk membuka URL (https://wa.me/...) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name="${applicationName}"
        android:label="WA Tanpa Simpan Nomor"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6721734106426198~3324930044" />

        <!-- Konfigurasi aktivitas utama Flutter -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">

            <!-- Tema default saat loading Flutter -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Launcher aplikasi -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Wajib untuk Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
